body{
	font-family: 'Work Sans', sans-serif;
	color: #fff;
	margin:0;
	box-sizing: border-box;
	background-color: yellow;
	position: sticky;

}


#container-fluid{
	text-align: center;
}

#container-fluid video {
	position: absolute;
   top:0;
   left:0;
   width:100%;
   height: 100%;
   object-fit: cover;
   z-index: -5;
}
.navbar-brand{
   font-weight: bold;
   color: orange;
   font-size: 5rem;
   font-family: 'Carter One', cursive;
}

.nav-br{
	color: yellow;
}


/*.................................................................................*/

    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        line-height: 3;
        padding-top: 16rem;
        width: 65%;
        height: 100%;
        font-size: 2.5rem;
        background-color: #130d06;
    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }


/*...........................................................................................*/



.nav-link, .navbar-toggler{
	color:yellow;
}
.navbar-toggler{
	font-size: 4rem;
}

.navbar-toggler:hover, .nav-link:hover, .navbar-brand:hover{
   color: #ff9900;
}
/*...........................................................................................................*/

.up .row{
	padding-top: 160px;
	width:100%;
    }

.button{
	height: 4rem;
	width: 20rem;
	margin:auto;
	text-align: center;
	margin-top:1rem; 
	margin-bottom:4.5rem;
	background-color: yellow;
	border-radius: 35px;
	
}

.button a{
	text-decoration: none;
	color: #000;
	transition: 0.2s;
	padding: 10px 15px 19px 20px;
}
.button:hover{
	background-color: #ffe0b3;
	color:#331f00;
	letter-spacing: 1.5px;
}
.btn{
	font-size: 1.7rem;
	letter-spacing: 0.3rem;
}

.up .row h1{
     font-size: 4.5rem;
     font-weight: bold;
}
.up .row h2{
	font-size: 3.5rem;
	font-weight: 500;
	padding-top: 1.5rem;
}
.up .row p{
    	margin: auto;
    	max-width: 60%;
    	padding-top: 3rem;
    	padding-bottom: 5rem;
    	font-size: 2.4rem;
    	line-height: 1.9;
    }
  

#testimonial{
	margin:20% auto 4%;
}

.card{
	width: 100%;
}

.card-text{
	color:#1a0f00;
	font-size: 2rem;
	text-align: center;
	padding-bottom: 1.6rem;
	padding-top: 1rem;
}

#footer{
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 3rem;
	background-color: #1a1a00;
	position:relative;
    top:1px;
    margin-top: -0.9rem;
    font-size: 2rem;
}
#footer .fab{
	padding-top: 2.3rem;
	padding-bottom: 3rem;
	margin: auto;
	padding-right: 2rem;
	color: yellow;
	transition: 0.4s;

}

#footer .fab:hover{
transform: translateY(-8px);
}

#footer p{
	font-size: 1.9rem;
}





 
